<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact Us</h2>
        <h3 class="section-subheading text-muted">
          Please call or email for enquiries.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          Tel: <a href="tel:0044{{ site.tel }}">0{{ site.tel }}</a>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          Email:
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </h2>
      </div>
    </div>
  </div>
</section>
